In [8]:
import numpy as np
import pandas as pd
import sqlalchemy as sql
import sqlalchemy.orm as orm

In [9]:
SQLALCHEMY_URL = 'postgresql://postgres:barnum@qnap:32768/betfairlogger'

# Create DB engine and session factory
db_engine = sql.create_engine(SQLALCHEMY_URL)
Session = orm.sessionmaker(bind=db_engine)

# Open DB session
db_session = Session()

In [11]:
pd.read_sql('select * from event', db_engine)

,id,betfair_id,name,country_code,time_zone,venue,open_date
0,1,29581105,Sedge 14th Nov,GB,Europe/London,Sedgefield,2019-11-14 12:30:00
1,2,29581104,Ludl 14th Nov,GB,Europe/London,Ludlow,2019-11-14 13:15:00
2,3,29581102,Taun 14th Nov,GB,Europe/London,Taunton,2019-11-14 12:55:00
3,4,29581117,Clon 14th Nov,IE,Europe/London,Clonmel,2019-11-14 12:40:00
4,5,29582517,Newc 15th Nov,GB,Europe/London,Newcastle,2019-11-15 12:00:00
5,6,29582549,Sthl 15th Nov,GB,Europe/London,Southwell,2019-11-15 12:50:00
6,7,29582538,Dund 15th Nov,IE,Europe/London,Dundalk,2019-11-15 17:15:00
7,8,29587853,Plump 18th Nov,GB,Europe/London,Plumpton,2019-11-18 12:30:00
8,9,29587549,Wolv 18th Nov,GB,Europe/London,Wolverhampton,2019-11-18 12:50:00
9,10,29587725,Sthl 18th Nov,GB,Europe/London,Southwell,2019-11-18 16:15:00
10,11,29589031,Fairy 19th Nov,IE,Europe/London,Fairyhouse,2019-11-19 12:35:00
11,12,29588827,Kemp 19th Nov,GB,Europe/London,Kempton,2019-11-19 13:20:00
12,13,29589050,Fake 19th Nov,GB,Europe/London,Fakenham,2019-11-19 13:10:00
13,14,29589021,Ling 19th Nov,GB,Europe/London,Lingfield,2019-11-19 12:30:00
14,15,29588828,ChelmC 19th Nov,GB,Europe/London,Chelmsford City,2019-11-19 16:15:00
15,16,29589942,Kemp 20th Nov,GB,Europe/London,Kempton,2019-11-20 16:10:00
16,17,29590148,Warw 20th Nov,GB,Europe/London,Warwick,2019-11-20 12:30:00
17,18,29590122,Hex 20th Nov,GB,Europe/London,Hexham,2019-11-20 12:50:00
18,19,29590249,Dund 20th Nov,IE,Europe/London,Dundalk,2019-11-20 14:25:00
19,20,29590127,Chep 20th Nov,GB,Europe/London,Chepstow,2019-11-20 13:15:00
20,21,29591415,MrktR 21st Nov,GB,Europe/London,Market Rasen,2019-11-21 12:25:00
21,22,29591429,Thurl 21st Nov,IE,Europe/London,Thurles,2019-11-21 12:15:00
22,23,29591387,Winc 21st Nov,GB,Europe/London,Wincanton,2019-11-21 13:10:00
23,24,29591343,Newc 21st Nov,GB,Europe/London,Newcastle,2019-11-21 13:20:00
24,25,29591372,ChelmC 21st Nov,GB,Europe/London,Chelmsford City,2019-11-21 16:25:00
25,26,29592752,FfosL 22nd Nov,GB,Europe/London,Ffos Las,2019-11-22 13:10:00
26,27,29592496,Newc 22nd Nov,GB,Europe/London,Newcastle,2019-11-22 15:30:00
27,28,29592646,Catt 22nd Nov,GB,Europe/London,Catterick,2019-11-22 12:15:00
28,29,29592586,Dund 22nd Nov,IE,Europe/London,Dundalk,2019-11-22 17:15:00
29,30,29592620,Ascot 22nd Nov,GB,Europe/London,Ascot,2019-11-22 13:00:00
30,31,29596882,Ludl 25th Nov,GB,Europe/London,Ludlow,2019-11-25 12:35:00
31,32,29596754,ChelmC 25th Nov,GB,Europe/London,Chelmsford City,2019-11-25 15:25:00
32,33,29596881,Kemp 25th Nov,GB,Europe/London,Kempton,2019-11-25 12:55:00
33,34,29596856,Muss 25th Nov,GB,Europe/London,Musselburgh,2019-11-25 12:45:00